version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: infra/backend.Dockerfile
    env_file:
      - ../.env
    ports:
      - "8000:8000"
    volumes:
      - ../backend:/app/backend
      - ../shared:/app/shared

  bot:
    build:
      context: ..
      dockerfile: infra/bot.Dockerfile
    env_file:
      - ../.env
    depends_on:
      - backend
    volumes:
      - ../bot:/app/bot
      - ../shared:/app/shared

